---
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await getCollection('blog');
allPosts.length > 1 &&
  allPosts.sort(
    (a: any, b: any) =>
      parseInt(b?.id.match(/\d+$/)[0]) - parseInt(a?.id.match(/\d+$/)[0])
  );
const pathname = import.meta.env.BASE_URL;
---

<BaseLayout pageTitle="My Astro Learning Blog">
  <p>This is where I will post about my journey learning AstroF.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost
          url={`/${pathname}/posts/${post.id}/`}
          title={post.data.title}
        />
      ))
    }
  </ul>
</BaseLayout>
