---
const pathname = import.meta.env.BASE_URL;
---

<ul class="nav-links">
  <li><a href={`${pathname}/`}>Home</a></li>
  <li><a href={`${pathname}/about/`}>About</a></li>
  <li><a href={`${pathname}/blog/`}>Blog</a></li>
  <li><a href={`${pathname}/tags/`}>Tags</a></li>
</ul>

<style>
  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
</style>
