---
const pathname = import.meta.env.BASE_URL;
---

<div class="nav-links">
  <a href={`${pathname}/`}>Home</a>
  <a href={`${pathname}/about/`}>About</a>
  <a href={`${pathname}/blog/`}>Blog</a>
  <a href={`${pathname}/tags/`}>Tags</a>
</div>
