---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;
const pathname = import.meta.env.BASE_URL;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`/${pathname}/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>Unibox Blog | {pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <script>
      import '../ts/menu.ts';
    </script>
  </body>
</html>
